:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 240, 240, 240;
    --background-start-rgb: #252525;
    --background-end-rgb: #252525;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
  .Titlebar {
    border-bottom: 2px solid #fff;
  }
  .PrefectureTile {
    color: #fff;
    background-color: #fff;
    border-color: #444;
  }
  .CheckBox {
    color: #fff;
  }

  .CheckBox input[type="checkbox"] {
    border: 2px solid #fff;
    background-color: #333;
  }

  .CheckBox input[type="checkbox"]:checked {
    background-color: #555;
    border-color: #fff;
  }

  .CheckBox input[type="checkbox"]:checked::after {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  .select-style {
    color: #000;
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    margin: 4px 2px;
  }
  .ErrorMsg {
    font-size: 20px;
    margin: auto;
    padding: auto;
  }
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.Titlebar {
  height: 100px;
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000000;
}

.PrefectureTile {
  color: #000;
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  height: 50px;
  width: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 10%;

  border: solid 2px #000000;
  border-radius: 8px;
}

.CheckBox {
  font-size: 30px;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
}

.CheckBox input {
  margin-right: 10px;
}

.CheckBox input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  border-radius: 0px;
  outline: none;
  margin-right: 8px;
  position: relative;
}

.CheckBox input[type="checkbox"]:checked {
  background-color: #000;
  border-color: #000;
}

.CheckBox input[type="checkbox"]:checked::after {
  color: #000;
  position: absolute;
  top: 1px;
  left: 5px;
  display: block;
  border-right: 2px solid rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);
  content: "";
  width: 5px;
  height: 10px;
  transform: rotate(45deg);
}

.CheckBox label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  color: rgb(0, 172, 60);
}

.GroupCheckBox {
  max-width: var(--max-width);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.CheckBox {
  flex: 1 0 22%;
  margin: 5px;
}

.Checkbox-disabled {
  color: #959595;
  cursor: not-allowed;
}

.MsgForUser {
  margin-top: 100px;
  margin-bottom: 100px;
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.label {
  font-size: 30px;
  font-family: "Gill Sans", sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.ResetButton {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.ResetButton:hover {
  background-color: #45a049;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.Button-wrap-center {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Gill Sans", sans-serif;
  font-size: 30px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.Button-wrap-chart {
  margin-top: 50px;
  margin-bottom: 100px;
}

.select-style {
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  margin: 4px 2px;
}

.select-style:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.select-style:hover {
  border-color: #007bff;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .Titlebar {
    height: 60px;
    font-size: 24px;
    margin-bottom: 20px;
  }

  .PrefectureTile {
    font-size: 20px;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    justify-content: center;
  }

  .CheckBox {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .ResetButton {
    font-size: 20px;
  }

  .Button-wrap-center,
  .Button-wrap-chart {
    margin: 20px 0;
  }

  .select-style {
    font-size: 16px;
  }

  .MessageInSelectedPrefecture {
    margin-top: 100px;
    margin-bottom: 100px;
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .ResetButton {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    margin-left: 10px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
  }

  .ResetButton:hover {
    background-color: #45a049;
  }

  .Button-wrap-center {
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Gill Sans", sans-serif;
    font-size: 24px;
    display: flex;
    text-align: center;
    justify-content: center;
  }

  .Button-wrap-chart {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .select-style {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    margin: 10px 0;
    margin-right: 10px;
  }

  .select-style:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  }

  .select-style:hover {
    border-color: #007bff;
  }

  .label {
    font-size: 15px;
    font-family: "Gill Sans", sans-serif;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 10px;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
